In [2]:
import pandas as pd

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [4]:
#print total number of unique schools
number_schools = len(school_data_complete['school_name'].unique())
number_schools

15

In [5]:
#total students- total students in table or in district? 
total_students = len(school_data_complete.index)
total_students

39170

In [6]:
#Total budget
unique_budget = pd.unique(school_data_complete['budget']).sum()
unique_budget

24649428

In [7]:
#Average math score
avg_math = school_data_complete['math_score'].mean()
avg_math

78.98537145774827

In [9]:
#Average reading score
avg_reading = school_data_complete['reading_score'].mean()
avg_reading

81.87784018381414

In [10]:
#% passing math
math_valpass = school_data_complete['math_score'] >= 70
math_passed = len(school_data_complete[math_valpass].index)
percentage_passed_math = math_passed/total_students * 100
percentage_passed_math

74.9808526933878

In [11]:
#% passed reading
reading_valpass = (school_data_complete['reading_score'] >= 70)
reading_passed = len(school_data_complete[reading_valpass].index)
percentage_passed_reading = reading_passed/total_students * 100
percentage_passed_reading

85.80546336482001

In [12]:
#% passing math & reading

both_passed = school_data_complete.loc[math_valpass & reading_valpass]
both_passed = len(both_passed.index)
percentage_passed_both = both_passed/total_students * 100
percentage_passed_both

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
 
data = [{'Total Schools': number_schools, 'Total Students': total_students, 
         'Total Budget': unique_budget, 'Average Math Score': avg_math, 
         'Average Reading': avg_reading, '% Passing Math': percentage_passed_math,
        '% Passing Reading': percentage_passed_reading, '% Overall Passing': percentage_passed_both}]  
  
# Creates DataFrame.  
district_summary = pd.DataFrame(data)  
# Print the data  
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [130]:
# Use the code provided to select the school type
school_types = list(school_data.set_index(["school_name"])["type"])
len(school_types)

15

In [131]:
# Calculate the total student count
student_count = list(school_data.set_index(["school_name"])["size"])
len(student_count)

15

In [132]:
#per school budget 
per_school_budget = list(school_data.set_index(["school_name"])["budget"])
len(per_school_budget)

15

In [133]:
#per student budget 
per_student_budget = list(school_data.set_index(["school_name"])["budget"] / school_data.set_index(["school_name"])["size"])
len(per_student_budget)

15

In [134]:
# Average math score
avg_math_school = list(student_data.groupby(['school_name'])['math_score'].mean())
len(avg_math_school)

15

In [135]:
#Average reading score
avg_reading_school = list(student_data.groupby(['school_name'])['reading_score'].mean())
len(avg_reading_school)

15

In [136]:
#find total number of students in each HS
total_scores = school_data_complete.groupby(['school_name']).count()['math_score']

#first filter data 
passing_math_scores = school_data_complete[school_data_complete['math_score'] >= 70]

#then find the number of rows by using groupby
passing_math_scores = passing_math_scores.groupby(['school_name']).count()['math_score']

#% passing math above 70 
percentage_passing_m = list(passing_math_scores / total_scores *100)
len(percentage_passing_m)

15

In [137]:
#first filter data 
passing_reading_scores = school_data_complete[school_data_complete['reading_score'] >= 70]

#then find the number of rows by using groupby
passing_reading_scores = passing_reading_scores.groupby(['school_name']).count()['reading_score']

#% passing math above 70 
percentage_passing_r = list(passing_reading_scores / total_scores *100)
len(percentage_passing_r)

15

In [139]:
#first filter data for scores you want 
passing_both_scores = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
]


#then find the number of rows by using groupby
passing_both_scores = passing_both_scores.groupby(['school_name']).count()['reading_score']
passing_both_scores


#% passing math above 70 
percentage_passing_both = list(passing_both_scores / total_scores *100)
len(percentage_passing_both)

15

In [141]:
data = [{'School Type': school_types, 
         'Total Students': student_count, 
         'Total School Budget': per_school_budget, 
         'Per Student Budget': per_student_budget, 
         'Average Math Score': avg_math_school, 
         'Average Reading Score': avg_reading_school,
        '% Passing Math': percentage_passing_m,
         '% Passing Reading': percentage_passing_r, 
         '% Overall Passing': percentage_passing_both}]

data

# Creates DataFrame.  
per_school_summary = pd.DataFrame(data)  


# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,"[District, District, Charter, District, Charte...","[2917, 2949, 1761, 4635, 1468, 2283, 1858, 497...","[1910635, 1884411, 1056600, 3022020, 917500, 1...","[655.0, 639.0, 600.0, 652.0, 625.0, 578.0, 582...","[77.04843247588424, 83.06189451022605, 76.7117...","[81.03396302250803, 83.97578040904197, 81.1580...","[66.68006430868168, 94.1334768568353, 65.98847...","[81.93327974276528, 97.03982777179763, 80.7392...","[54.64228295819936, 91.33476856835307, 53.2044..."